# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Local env files
.env*.local
.env

# TypeScript
*.tsbuildinfo
expo-env.d.ts

# Android
android/app/build/
android/build/
android/.gradle/
android/app/release/
android/app/debug/
android/.idea/
android/local.properties
*.apk
*.aab

# iOS
ios/Pods/
ios/build/
ios/*.xcworkspace
ios/*.xcuserdata
*.ipa

# macOS
.DS_Store
*.pem

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log

# Temporary files
tmp/
temp/
